<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBoxDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>281DC7441D07EE36002B2661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281DC75D1D07EE36002B2661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281DC7681D07EE36002B2661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
